<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Competency Profile</title>
    <link rel="stylesheet" href="/compProfile.css">
    <script defer src="/compProfileStudent.js"></script>
  </head>
  <body>


    <button id="addStudent">+</button>
    <div id="currentStudents" class="hidden"></div>
    {{{body}}}
  </body>
</html>
