<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Cloud Computing Docs</title>
    <link rel="stylesheet" href="/displayAll.css">
  </head>
  <body>
    {{{body}}}
    <script>
      document.querySelectorAll(".semesterClasses h2").forEach((item, i) => {
        item.addEventListener("click", ()=>{
          item.nextElementSibling.classList.toggle("hidden");
        })
      });

    </script>
  </body>
</html>
