<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Syllabus</title>
    <link rel="stylesheet" href="/syllabus.css">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
