<header>
  <h1>Cloud Computing and App Development</h1>
  <h2>@Northwest Tech</h2>
</header>
{{#each semesters}}
<section>

  <h1>Semester {{inc @index}}</h1>
  <a class="compProfileLink" href="generateCompProfile/{{inc @index}}">Generate Comp Profile</a>
  <div class="semesterClasses">
  {{#each this}}
    <h2>CC{{courseNumber}} {{@key}} <small>({{creditHours}} credit Hours / {{hours}} hours)</small></h2>
    <div class="classDetails hidden">
      <div class="syllabusCreationArea">
        <a href="generateSyllabus/{{inc @../index}}/{{@key}}/jeremy">Create Syllabus for Jeremy</a>
      </div>
    <p>{{courseDescription}}</p>
    <section class="noBreak">
      <h3>Competencies</h3>
      <ul>
        {{#each competencies}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
    </section>
    <section class="noBreak">
      <h3>Course Outline</h3>
      <ul class="outline">
        {{#each courseOutline}}
          <li>{{this}}</li>
        {{/each}}
      </ul>
    </section>
  </div>
  {{/each}}
    </div>
</section>
{{/each}}
