<section class="page">
<header>
  <h1>Cloud Computing and App Development</h1>
  <h1>Northwest Kansas Technical College</h1>
  <h2>Competency Profile</h2>
  <h2>Fiscal Year {{other.year}}</h2>
</header>

<section id="studentSignature">
  <div id="studentInfo"><div>STUDENT NAME:</div><div class="signiatureLine studentName"></div><div class="right"> ID# </div><div class="signiatureLine"></div><div class="right"> PROGRAM: CC </div> </div>
  <div id="enrollmentInfo"><div>ENROLLMENT DATE:</div><div class="signiatureLine">{{other.startDate}}</div> <div>COMPLETION DATE:</div><div class="signiatureLine">{{other.endDate}}</div><div class="right">TOTAL PROGRAM HOURS:{{other.totalHours}}</div></div>
  <p>I CERTIFY THAT THE STUDENT RECEIVED TRAINING IN THE AREA INDICATED</p>
  <div class="signiatureArea"><div>STUDENT SIGNATURE:</div><div class="signiatureLine"></div><div>	DATE:</div><div class="signiatureLine"></div></div>
  <div class="signiatureArea"><div>INSTRUCTOR SIGNATURE:</div><div class="signiatureLine"></div><div> DATE:</div><div class="signiatureLine"></div></div>
</section>

<section id="ratings">
  <h2>RATING SCALE:</h2>
  <ul>
    <li>A –	HIGHLY-SKILLED:  Resourceful, Motivated to Excellence.</li>
    <li>C – 	LIMITED SKILL:  Requires Assistance to Perform Task.</li>
    <li>D –	 SKILL UNDEVELOPED:  Received Instruction but has not Developed Skill</li>
    <li>F – 	UNSATISFACTORY</li>
    <li>I – 	INCOMPLETE: A temporary grade assigned to students who failed to complete the requirement of a course. Students may be given up to one semester to complete all course requirements after the semester in which the “I” was received.</li>
    <li>W  -	 WITHDREW: When a student withdraws from college</li>
    <li>P – 	PASS: Assigned to a pass/fail course when completed with a 60% or higher grade. A pass grade is computed in total credit hours, but not in GPA.</li>
  </ul>
</section>

<section id="genEd">
  <h2>General Education Outcomes</h2>
  <ol>
    <li>Demonstrates the values of diverse integrity, responsibility, perseverance and strong work ethics.</li>
    <li>Reads, writes, speaks, and listens on a level that facilitates the ability to work in a chosen field and be an active citizen.</li>
    <li>Performs mathematical operations necessary to be competent in personal and professional settings.</li>
    <li>Utilizes computer technology applications in personal and professional settings.</li>
    <li>Uses systematic methods of inquiry, critical, and creative processes to identify problems and make informed decisions.</li>
    <li>Recognizes their strengths and weaknesses as a learner and develops strategies for time management, documentation, evaluation processes, and personal improvement.</li>
  </ol>
</section>

<div class="centerText">{{other.semesterLabel}}</div>

{{#each courses}}
  <section class="courseCompetencies">
    <div class="top">
      <div class="inline">A B C D F I W P </div>
      <div class="inline"> CC{{courseNumber}} </div>
      <div class="inline"> {{@key}} </div>
      <div class="inline"> {{hours}}Hrs. {{creditHours}}Cr. Hrs.</hr></div>
    </div>
      {{#each competencies}}
        <div class="gradingRow">
          <div class="grade inline">A B C D F I W P</div>
          <div class="inline">{{this}}</div>
        </div>
      {{/each}}
    </div>
  </section>
{{/each}}
</section>
