<header>
  <h1>Help Info for Cloud Computing Docs</h1>
</header>
<section>
  <h2>Goals for this project</h2>
  <ul>
    <li>Have a central repository for our course data. ✅</li>
    <li>Browse through all courses in a user freindly manner ✅</li>
    <li>Build syllabi automatically ✅</li>
    <li>Build competency profiles automatically ✅</li>
    <li>Build Import Competencies for Moodle </li>
  </ul>
</section>
<section>
  <h2>Building Competency Profiles</h2>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/UG94L2pVyFY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</section>
<section>
  <h2>Initial Install</h2>
  run <b>npm install</b> in the console.
</section>
<section>
  <h2>Creating a new Course JSON file</h2>
  <p>You can create a new course json file using <b>npm run new</b></p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/xUa6_dhn1B8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</section>
<section>
  <h2>Committing files to the GIT repository</h2>
  git add * <br />
  git commit -m "your message" <br />
  git push
</section>
