<section id="coverPage">
  <h1>Northwest Kansas Technical College</h1>
  <h1>Syllabus</h1>
  <h1>Cloud Computing and App Development</h1>
  <h1>{{name}}</h1>
  <h1>{{instructor.fullName}}</h1>
  <h1>{{program.currentYear}}</h1>
</section>
<section class="noBreak">
<h2>College Mission Statement</h2>
<p>{{program.collegeMission}}</p>
</section>
<section class="noBreak">
<h2>Program Mission Statement</h2>
<p>{{program.programMission}}</p>
</section>
<section class="noBreak">
<h2>Instructor Contact Information</h2>
<p><strong>Name:</strong> {{instructor.fullName}} </p>
<p><strong>Phone:</strong> {{instructor.phone}} </p>
<p><strong>Email:</strong> {{instructor.email}} </p>
<p><strong>Zoom:</strong> {{instructor.zoom}} </p>
<p><strong>Office Hours:</strong> {{instructor.officeHours}} </p>
</section>
<section id="courseInformation" class="noBreak">
  <h2>Course Information</h2>
  <p><strong>Credits:</strong> {{data.creditHours}}</p>
  <p><strong>Class Time:</strong> {{data.classTime}} </p>
  <p><strong>Placement:</strong> {{data.placement}}</p>
  <p><strong>Withdraw Date(fall):</strong> {{program.fallWithdraw}} </p>
  <p><strong>Withdraw Date(spring):</strong> {{program.springWithdraw}} </p>
</section>

<section class="canBreak">
  <h2>Syllabus Statement on COVID-19:</h2>
  <p>
    Northwest Kansas Technical College values the health and well-being of all who are involved in higher education.  In its classes and operations, NWKTC follows the Center for Disease Control and Prevention (CDC), American College Health Association (ACHA), and Kansas Department of Health and Environment (KDHE) recommendations for protecting students, faculty, and staff members during the Coronavirus 2019 (COVID-19) pandemic.  These recommendations to lower risk may include limiting the number and length of interactions with others by minimizing the movement of students around campus and limiting interaction to those within the same program, scheduling virtual-only or restricted sizes of activities, or events, with individuals spaced 6 feet apart and not sharing objects.
    Changes and limitations specific to different class types, for example, lecture, lab, and studio classes, will be provided in class.  In all class types and educational settings, NWKTC faculty and staff have discretion in the use of face masks.
  </p>
  <p>
    All students in a class or shop/lab setting may be required to wear a cloth face mask or disposable face mask especially if proper social distancing cannot be maintained.  A student who cannot wear a mask should speak with the instructor or staff member privately about arrangements to complete the course work or task.  Students will be provided with a face mask.
  </p>
  <p>
    Face masks may be required in some buildings as needed, especially if proper social distancing cannot be maintained or posted room occupancies will be exceeded. (ie: Business Office, Bookstore, Admissions Office, President’s Office, IT, Union, etc.)
  </p>
  <p>
    <u>Disclaimer:</u> Northwest Kansas Technical College, by recommending and providing a mask is not liable for any student who may contract the virus. The mask is simply an assist and not a guarantee. Students hereby release the College from any and all liability created by these guidelines, including providing a mask.
  </p>
  <h3>NWKTC endorses:</h3>
  <ul>
    <li>Staying home or self-isolating when appropriate in respect to NWKTC student, faculty, and staff self-screening questionnaires, notification by Sherman County Health Department, and KDHE quarantine recommendations</li>
    <li>Frequent, thorough hand washing and covering of all coughs and sneezes</li>
    <li>Using of masks whenever physical distancing is difficult or in public spaces or spaces used by multiple people</li>
    <li>Individual conduct consistent with these considerations</li>
  </ul>
  <p>
    Any change in procedures impacted by COVID-19 will be sent to students and employees via email to their official college email account.  Please check these email accounts regularly.
  </p>
  <p>
    NWKTC students, faculty, and staff with questions should contact the Dean of Academic Advancement for more information:
  </p>
  <p>
    Lisa Blair<br />
    Dean of Academic Advancement<br />
    785-890-1514<br />
    lisa.blair@nwktc.edu | <a href="https://www.nwktc.edu">www.nwktc.edu</a>
  </p>
</section>

<section class="noBreak">
<h2>Course Description</h2>
<p>{{data.courseDescription}}</p>
</section>
<section class="noBreak">
<h2>Course Outline</h2>
<ul>
{{#each data.courseOutline}}
  <li>{{this}}</li>
{{/each}}
</ul>
</section>
<section class="noBreak">
<h2>Competencies</h2>
<ul>
{{#each data.competencies}}
  <li>{{this}}</li>
{{/each}}
</ul>
</section>

<section class="noBreak">
<h2>Methods of Instruction:</h2>
<ul>
  <li>live lecture</li>
  <li>live code demoes</li>
  <li>tutorials</li>
  <li>videos</li>
  <li>research challenges</li>
</ul>
</section>
<section class="noBreak">
<h2>Methods of Assessment:</h2>
  <p>The majority of your grade is based off of project work. We have a few quizzes but we mostly focus on having you demonstrate your skills to build code that compiles and works correctly.</p>
</section>
<section class="noBreak">
<h2>Assignment Policy:</h2>
  <p>We will not grade your code if it doesn’t compile. You can get help from us but do not turn in work that does not compile.</p>
</section>
<section class="noBreak">
<h2>NWKTC General Education Outcomes:</h2>
<ol>
  <li>Demonstrate the values of diversity integrity, responsibility, perseverance and strong work ethics.</li>
  <li>Reads, writes, speaks, and listens on a level that facilitates the ability to work in a chosen field and be an active citizen.</li>
  <li>Performs mathematical operations necessary to be competent in personal and professional settings.</li>
  <li>Utilizes computer technology applications in personal and professional settings.</li>
  <li>Uses systematic methods of inquiry, critical, and creative processes to identify problems and make informed decisions.</li>
  <li>Recognizes their strengths and weaknesses as a learner, and develops strategies for time management, documentation, evaluation processes, and personal improvement.</li>
  <li>Demonstrates sound judgement in planning and making personal financial decisions.</li>
</ol>

</section>
<section class="noBreak">
<h2>Determination of Letter Grades:</h2>
<p>There is no grading curve, nor are there any expectations as to the number of A’s, B’s, C’s, etc., are given in a particular class. Letter grades will be assigned as follows for exams, assignments, and projects.</p>
<table summary="An A is a grade between 90% and 100%.  A B is between 80% and 90%.  A C is between 70% and 80%. A D is between 60% to 70%. Finally an F is anything below 60%.">
  <caption>Grading Scale Defined</caption>
  <thead>
    <tr>
      <th scope="col">Letter Grade</th>
      <th scope="col">% Value</th>
    </tr>
  <thead>
  <tbody>
    <tr>
      <td>A</td><td> 90...100</td>
    </tr>
    <tr>
      <td>B</td><td> 80..&lt;90</td>
    </tr>
    <tr>
      <td>C</td><td> 70..&lt;80</td>
    </tr>
    <tr>
      <td>D</td><td> 60..&lt;70</td>
    </tr>
    <tr>
      <td>F</td><td> 0..&lt;60</td>
    </tr>
</tbody>
</table>
  <p>These scores translate to the following qualitative evaluations of letter grades:</p>
  <h3>OVERALL RATING SCALE</h3>
    <h4>A – HIGHLY SKILLED:</h4>
    <p>Highly Skilled, Resourceful, and Motivated to Excellence.</p>
    <h4>B – SKILLED:</h4>
      <p>Works Independently.</p>
    <h4>C – LIMITED SKILL:</h4>
      <p>Requires Assistance to Perform Task.</p>
    <h4>D – SKILL UNDEVELOPED:</h4>
      <p>Received Instruction but has not developed skill.</p>
    <h4>F – UNSATISFACTORY</h4>
  </section>
  <section class="noBreak">
<h2>Campus Communication</h2>
<p>Students must use their Northwest Tech Email (firstname.lastname@nwktc.edu), all lower case. Email is the official method of communication for all Northwest Tech business. All email correspondence will take place using your Northwest Tech email address. Students are encouraged to use the Ask Your Teacher links found with every question in WebAssign when they do not understand material. It is the fastest way to get help with a problem.</p>
</section>
<section class="noBreak">
<h2>Electronic (E) Days</h2>
<p>E-Days will occur during inclement weather and at times when class does not meet on campus due to instructor illness or absence. Students will need access to the Internet during this time and must complete any assignments given. Your instructor will notify you by e-mail and in the Moodle when an E-Day occurs.</p>
</section>
<section class="noBreak">
<h2>Incompletes</h2>
<p>The grade of “I” is given only in cases of illness or other extenuating circumstances, which make it impossible to complete all work by the close of the semester. The incomplete grade contract will allow two weeks within which to complete the work required. In the event that the student fails to fulfill the terms of the incomplete grade contract within the two-week time frame, the grade of “I” will be changed to an “F” on the student’s permanent record.</p>
</section>
<section class="noBreak">
<h2>Attendance Policy</h2>
<p>Attendance is required and roll will be taken daily. Class interaction is important, and material covered in lecture may appear on tests. Also, “performance” practice is highly recommended; thus, student attendance is important. See department handbook for attendance policy. Students will be excused for verified professional development participation, as identified by their instructors.</p>
</section>
<section class="noBreak">
<h2>Make-up Classes</h2>
<p>It is the student’s responsibility to complete make-up work in a timely manner.</p>
</section>
<section class="noBreak">
<h2>Withdrawal Policy</h2>
<p>Withdraw dates are shown on the first page of this Syllabus.</p>
<p>It is the student’s responsibility to withdraw from the class. Course withdrawals will not become valid until the completed form is returned to the Registrar’s Office. Failure to complete the prescribed withdrawal process will result in a grade of “F” in this course.</p>
</section>
<section class="noBreak">
<h2>Behavioral Expectations</h2>
<ul>
  <li>Complete work on time.</li>
  <li>Participate each week in the class.</li>
  <li>Be prepared for all readings on the assignments.</li>
  <li>Do your work in your notebook and in WebAssign every week.</li>
  <li>Use the Ask Your Teacher feature when you do not understand material.</li>
  <li>Do not behave in a rude, boisterous, or intolerant manner in any group class activities.</li>
  <li>Do not use disrespectful, vulgar, or violent language in any communication.</li>
  <li>Chronic offenders will be granted a failing grade for the semester.</li>
</ul>
</section>
<section class="noBreak">
<h2>Tobacco Free Campus</h2>
<p>Northwest Kansas Technical College is a tobacco free campus. Use of tobacco is not allowed anywhere on campus property. Failure to follow this policy will incur disciplinary action up to and dismissal from the program.</p>
</section>
<section class="noBreak">
<h2>Academic Honesty Policy</h2>
<p>Academic dishonesty is not tolerated for any reason. Dishonest behavior is defined as any action or activity that is meant to deceive the instructor from determining the true performance of the student. Among behaviors that are defined as dishonest.</p>
</section>
<section>
<h2>Academic Integrity Policy</h2>
<h3>I. Policy Statement</h3>
<p>Northwest Tech is committed to the academic and ethical development of our students. We work to create an academic environment that is challenging, while upholding the core values of respect, honesty, and integrity. Administration, staff, and faculty will support students to understand these values, as they are fundamental to the student experience at Northwest Tech and future employment in the working world.</p>
<p>Each student is expected to abide by the following principles. Not being familiar with these principles does not mean students are not accountable for their adherence to them.</p>
<ul>
  <li>Submit work that is their own.</li>
  <li>Appropriately identify the work of others when it is incorporated into his/her own work, including direct quotations, summaries and paraphrases.</li>
  <li>Follow the instructions of the faculty with regard to permissible materials in the learning environment at the time of examinations/quizzes/assignments.</li>
  <li>Proceed during examinations/quizzes/assignments without any assistance and without communicating in any way with others while the examination/quiz/assignments are being conducted, unless permitted by the instructor.</li>
  <li>Refrain from securing and/or distributing the content of any examination/quiz, without the permission of the instructor.</li>
</ul>
<h3>II. Violations</h3>
<p>Violations of the Academic Integrity Policy include, but are not limited to the following:</p>
<ul>
  <li>	<p>Plagiarism: An act or instance of using or closely imitating the language and thoughts of another author without authorization and the representation of that author’s work as one’s own, as by not crediting the original author. Examples would include, but are not limited to the following:</p>
<ul>
<li>Quoting, paraphrasing or summarizing another’s work without appropriately acknowledging the source.</li>
<li>Using another’s content without acknowledging the source.</li>
<li>Submitting another’s work, purchased or otherwise obtained, as one’s own.</li>
<ul>
<li>Cheating on Examinations/Quizzes/Assignments: Using another’s work, or bringing to the learning environment materials that are not permitted by the instructor, communicating with another student(s), receiving any kind of assistance including, but not limited to, assistance from electronic devices and obtaining or disseminating the content of an examination/quiz/assignment without the permission of the instructor.</li>
<li>Facilitating Academic Dishonesty: Knowingly allowing another student to utilize, copy, or cheat from one’s own examination/quiz/assignment.<li>
<li>Unauthorized Collaboration: Sharing information or aiding another person during an examination or in preparing academic work without prior authorization of instructor.</li>
</ul>
<h3>III. Consequences</h3>
<p>
  Consequences for violating the Academic Integrity Policy are intended as corrective actions, but are progressive in nature if violations continue. Each academic integrity violation, and accompanying consequence, will apply across all courses taken during one academic school year. At the end of the school year the number of offenses will be reset to zero.
</p>
<ul>
  <li>First Offense: The student will receive a zero “0” on the assignment/quiz/test in question.</li>
  <li>Second Offense: The student will fail the course in which the second offense occurs, and will receive an “XF” on their permanent academic transcript. The “XF” indicates they have failed a course due to an academic integrity violation. It is possible to for the “XF” grade to be changed to an “F” on the transcript through 40 hours of community service arranged through the Dean of Student Advancement’s office.</li>
  <li>Third Offense: If a student has been progressively disciplined, received a course failure for violating the Academic Integrity Policy, and commits an additional offense in any course, the college retains the right to administratively withdraw the student from all Northwest Tech courses for the remainder of the semester. To return to the college, the student must pursue the institutional readmission process.</li>
</ul>
<h3>IV.	Students Right to Appeal</h3>
<p>Students found to be in violation of the academic integrity policy have the right to appeal the process. The basis of the appeal is limited to:</p>
<ul>
  <li>Failure to notify student of allegation</li>
<li>Failure to provide student the opportunity to discuss the allegation</li>
<li>Failure to follow the published academic integrity procedure</li>
<li>Other specific errors or omissions that may have influenced the outcome</li>
</ul>
<p>The appeal must follow the “Academic Appeal Policy”.</p>
</section>

<section>
  <h2>Academic Integrity Procedure:</h2>
  <p>To ensure a fair and timely resolution to any academic integrity violation allegations, the following procedure shall be followed.</p>
  <ul>
    <li>Faculty notifies the student of the suspicion of academic dishonesty and offers to discuss the matter in person, by phone, or via email as soon as reasonably possible.</li>
    <li>During this meeting between faculty and student, faculty reviews information collected by the faculty member and information given by the student to determine if a violation of academic integrity occurred. Faculty will provide information or offer solutions to the student on how to avoid future violations. At the conclusion of the meeting, and if the faculty member confirms the integrity violation, the “Academic Integrity Report” will be completed by the faculty member, signed by the student, and sent to the Dean of Student Advancement.</li>
    <li>Dean of Student Advancement will log the “Academic Integrity Report” into the student’s permanent record and will give official notice to the student via email of the consequence based on the number of offenses in the student’s record, if indeed a violation occurred. (Reference Academic Integrity Policy, Consequences)</li>
  </ul>
</section>

<section class="noBreak">
<h2>Cheating</h2>
<p>Copying or using answers to questions in assignments, quizzes, and examinations other than those answers that have been developed by the student’s own work. This includes submitting work that has been done by someone else via Internet or tutoring.</p>
</section>
<section class="noBreak">
<h2>Participation in Academically Dishonest Activity</h2>
<p>Stealing exams, distributing pre-written papers obtained on the Internet, selling or loaning materials for the purpose of cheating or plagiarism, alteration or forgery of another’s work, taking an exam or writing a paper for another student.</p>
</section>
<section class="noBreak">
<h2>Unauthorized Communications</h2>
<p>In addition, during all test and examination taking times in the classroom, if any student is found to be in communication with another student or any outside source during a test or examination, the instructor will presume dishonest intention to cheat and the student will be asked to leave the testing area at once.</p>
<p>Northwest Tech assumes that all students are honest. If, however, a student turns in work other than his/her own (plagiarism) or is found to be cheating, the student will earn a zero on the assignment. The instructor will document the dishonesty. The documentation, under the direction of the Dean of Academic Advancement will be placed in the student’s permanent file. The second time the student is found to be cheating, the student will fail the class. The instructor retains the right to refer the student to NWKTC’s Administration for further discipline and possible expulsion from the college.</p>
</section>
<section class="noBreak">
<h2>Syllabus Information Disclaimer</h2>
I/We reserve the right to change any information contained in this document, when necessary, with adequate notice given to the student. Notice shall be given in the classroom during class. No other notice is required. It is the students’ responsibility to keep up with any changes, modifications, adjustments or amendments that are made to this document.
</section>
<section class="noBreak">
<h2>Diversity Statement</h2>
<p>Individual and group differences bring richness and challenges to teaching and learning. The following statement is intended to make explicit the understanding that administrators, faculty, and staff have about diversity. Diversity is represented in many forms, including: ideas, viewpoints, socioeconomic status, religious beliefs, backgrounds, race, gender, age, sexual orientation, human capacity, ethnicity, and exceptionalities.</p>
</section>
<section class="noBreak">
<h2>Statement of Nondiscrimination</h2>
<p>Northwest Kansas Technical College gives equal consideration to all applicants for admission, employment and participation in its programs and activities without regard to race, color, religion, national origin, gender, gender identity, gender expression, sexual orientation, age, marital status, disability, veteran status or Limited English Proficiency (LEP). Northwest Tech respects the legal rights of each person to work and learn in an environment that is free from unlawful sexual discrimination, including sexual harassment and sexual violence.</p>
<p>Concerns regarding disability or race, color, or national origin should be referred to Section 504 Coordinator/ADA Coordinator/Title VI Coordinator, Dean of Academic Advancement. All other concerns should be referred to the Title IX Coordinator/Age Act Coordinator, Dean of Student Advancement. Both Coordinators are located at the Northwest Kansas Technology College Administration Building, 1209 Harrison, Goodland, KS 67735. (785-890-3641)</p>
</section>
<section >
<h2>Policy for Providing Accommodations, Adjustments or Aids to Students with Disabilities</h2>
<p>Northwest Kansas Technical College provides and coordinates services to students with disabilities in order to accommodate their disability and promote equal access to educational opportunities. Information regarding accommodations for students with disabilities is available from the Section 504 Coordinator/ADA Coordinator/Title VI Coordinator, Dean of Academic Advancement. Accommodations are provided on an individualized, as needed basis, after the student requests assistance. Students requesting assistance are encouraged to complete an intake interview with the 504 Coordinator. The Coordinator’s Office is located at the Northwest Kansas Technology College Administration Building, 1209 Harrison, Goodland, KS. (785-890-3641)</p>
<p>It is the responsibility of the student requesting the accommodation to have current documentation from an appropriate diagnostician (e.g., physician, psychologist, or past educational organization) regarding the nature of his or her disability and the need for any requested academic adjustment or auxiliary aids. If a student does not request an accommodation, Northwest Tech is not obligated to provide one.</p>
<p>Upon receiving a request for assistance, the Coordinator will respond by granting or denying the request of assistance after meeting with the student to discuss the request, the student’s history and experiences and reviewing the documentation provided by the student. The college may request a separate evaluation at the college’s expense.</p>
<h3>Upon granting the request, the Section 504 Coordinator will</h3>
<ol>
<li>Prepare a written document,signed by the Coordinator and student,which specifically lists the request(s) and how the college will provide the accommodations, adjustment, or aid to the student with the disability.</li>
<li>Forwardawrittennoticeofspecificaccommodationsandadjustmentstothefacultywhoteach the student. Any questions regarding these instructions will be directed to the 504 Coordinator.</li>
</ol>
<h3>Upon denial of the request, the Section 504 Coordinator will</h3>
<ol>
<li>Prepare a written document explaining the reason(s) of the denied request and forwarding that recommendation to the College President for a final decision by the President within ten college days.</li>
<li>Meet with the student to inform him/her of the President’s decision and give a copy of the above-mentioned document to the student.</li>
<li>Explain to the student that if they do not agree with the President’s decision, the option to appeal is available to them by following the Student Discrimination Action Procedure beginning with Step 6.</li>
</ol>
</section>
