#addStudent{
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 20px;
  bottom: 20px;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 60px;
  background-color: #ce1126;
  color: #fff;
  border: 2px solid #333;
  border-radius: 50%;
  width: 70px;
  height: 65px;
  padding-bottom: 5px;
  text-shadow: 0px 0px 3px #333;
  z-index: 2000;
}

.hidden{
  display:none;
}

#currentStudents{
  position: fixed;
  bottom:40px;
  right: 40px;
  padding: 10px 60px 10px 10px;
  border-radius: 10px;
  background-color: #333;
  color:#fff;
}
#ratings ul{
  list-style: none;
  columns: 2;
}
.centerText{
  text-align: center;
  font-weight: bold;
  font-size:16px;
  margin: 10px;
}
#genEd ol{
  list-style: upper-roman;
}
header{
  text-align: center;
  margin-bottom: 30px;
}

header h1, header h2{
  margin:5px 0px;
  padding: 0px;
}

.courseCompetencies{
  padding: 10px;
  break-inside: avoid;
  page-break-inside: avoid;
}

.page{
  page-break-after: always;
}

.gradingRow{
  margin: 0px 0px 0px 10px;
  padding: 0px;
  font-family: sans-serif;
  display: grid;
  grid-template-columns: 200px 1fr;
}

.inline{
  display: inline-block;
  margin:0px 20px 0px 0px;
  padding: 0px;
}

.grade{
  margin-right:20px !important;
  letter-spacing: 4px;
}

.top{
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.top div:first-child{
  letter-spacing: 2px;
  margin-right:30px;
}

.signiatureLine{
  border-bottom: 1px solid #000;
  text-align: center;
}

.signiatureArea, #studentInfo, #enrollmentInfo{
  display: grid;
  margin-bottom: 12px;
}

.signiatureArea{
  grid-template-columns: 3fr 5fr 1fr 2fr;
}

#studentInfo{
  grid-template-columns: 3fr 6fr 1fr 2fr 3fr;
}

 #enrollmentInfo{
   grid-template-columns: 158px 85px 158px 85px 1fr;
 }
.right{
  text-align: right;
}

li{
  break-inside: avoid;
  page-break-inside: avoid;
}

#ratings{
  font-size: 14px;
}
@media screen{
  #studentSignature{
    display: none;
  }

  .page:not(:nth-child(3)){
    display: none;
  }
}

@media print{
  #addStudent, #currentStudents{
    display:none;
  }
}
