body{
  margin:0px;
  padding: 0px;
  font-family: sans-serif;
}

.noBreak{
  margin: 0px;
  padding: 0px;
}

section h1{
  margin-bottom: 5px;
  padding-bottom: 0px;
  display: inline-block;
  margin-right: 20px;
}

h2{
  margin:0px 0px 5px 0px;
  padding: 0px;
  font-weight: 100;
  cursor: pointer;
}

section, .semesterClasses, .classDetails{
  padding: 10px;
}

p{
  margin: 0px;
  padding: 0px;
}

small{
  font-size: 15px;
}

@media screen{
  .hidden{
    display: none;
  }

  a, a:visited{
    background-color: #ce1126;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    margin: 0px 10px 10px 0px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
  }

  header{
    background-color: #333;
    color:#fff;
    padding:25px;
  }

  header h1{
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  header h2{
    display: inline-block;
    color: #ce1126;
    background-color: #fff;
    clip-path: polygon(0 0, 100% 0%, 95% 100%, 0% 100%);
    position: relative;
    left: -25px;
    padding: 0px 25px;
    margin-top: 5px;
    border: 1px solid #000;
  }
}
/* End of Media Screen */
@media print{
  .hidden{
    display: block;
  }

  a{
    display: none;
  }

  .outline{
    columns: 2;
  }
  header{
    padding:5px;
    margin-bottom: 0px;
  }

  header h1{
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

   ul{
     margin-top:0px;
     padding-top: 0px;

   }
   .noBreak{
     break-inside: avoid;
     page-break-inside: avoid;
   }
   h3{
     margin-bottom: 0px;
     padding-bottom: 0px;
   }

}
/* End of Media Print */
