body{
  padding: 0px;
  margin:0px;
}

.noBreak{
  break-inside: avoid;
  page-break-inside: avoid;
}

tr th:first-child{
  width:120px;
}

caption{
  display: none;
}

th{
  text-align: left;
}



p{
  padding-left: 12px;
  font-family: sans-serif;
}
table{
  margin-left: 12px;
}
h2{
  color: #be0116;
}
h4{
  padding-bottom: 0px;
  margin-bottom: 0px;
}

h4 + p{
  padding-top: 0px;
  margin-top: 3px;
  padding-left: 25px;
}

@media screen{
  section{
    padding: 10px 30px;
  }
  #coverPage{
    display: grid;
    grid-template-areas:
    'program program program'
    'college college .'
    'course course .'
    'syllabus instructor year';
    font-family: sans-serif;
    background-color: #222;
    color:fff;
    padding:0px;
  }

  #coverPage h1{
    font-size: 30px;
    color:#fff;
    letter-spacing: 2px;
    margin: 5px;
    font-weight: 200;
  }

  #coverPage h1:nth-child(1){
    grid-area: college;
    background-color: #fff;
    color:#ce1126;
    padding-left: 30px;
    clip-path: polygon(0 0, 100% 0%, 95% 100%, 0% 100%);
    border: 1px solid #000;
    font-weight: 600;

    border-bottom: 3px solid #000;
  }
  #coverPage h1:nth-child(2){
    grid-area: syllabus;
    padding-left: 30px;
    margin-top: 35px;
    font-size: 20px;
  }
  #coverPage h1:nth-child(3){
    grid-area: program;
    padding-left: 30px;
    font-size: 40px;
    font-weight: 100;
    letter-spacing: 0px;
    padding-top: 20px;
  }
  #coverPage h1:nth-child(4){
    grid-area: course;
    padding-left: 30px;
    letter-spacing: 2px;
    margin-top: 2px;
    padding-top: 0px;
  }

  #coverPage h1:nth-child(5){
    grid-area: instructor;
    margin-top: 35px;
    font-size: 20px;

  }
  #coverPage h1:nth-child(6){
    grid-area: year;
    margin-top: 35px;
    font-size: 20px;
    padding-right: 30px;
    text-align: right;
  }
}

@media print{
  section{
    padding: 0px 20px;
  }

  #coverPage{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: sans-serif;
  }

  #coverPage h1{
    font-size: 30px;
  }
}
